* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	color: #fff;
}

.timeline {
	position: relative;
	width: 100%;
	min-width: 800px;
}

.timeline ul {
	display: flex;
	flex-direction: column;
	margin: 0 2em;
	list-style: none;
}

.timeline li{
	position: relative;
	margin-bottom: 2px;
}
